build

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
yarn-error.log

.DS_Store
.history

junit.xml

/merge-conflict-resolution.patch

package.tgz

/artifacts
/dist

/docs

/packages/*/bundles
/packages/*/lib/*
/packages/yarnpkg-libui/sources/**/*.js
/packages/yarnpkg-libui/sources/**/*.d.ts
/packages/docusaurus/.yarn

/vscode-case-study

.idea

coverage